*{ 
  font-family: inter;
}
.phones{
  width: 300px;
  height: 400px;
  padding: 7px;
  margin: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #F5F5F5;
}
.home{
  display: flex;
  flex-wrap: wrap;
}